.leftBar{
	width: 200px;
	//background-color: blue;	 
}

.mainArea{
	width: 100%;
	border-left: none;
    border-top: none;
	//background-color: lime;
}

.tableContainer{
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.tableContainer td {
	vertical-align:top;
}

.title {
	font-style:normal;
	font-size:10px;
	font-weight: bold;
	color: black;
	margin-right:10px;
	margin-left:10px;
	width: 80px;

}

.text {
	font-style:normal;
	font-size:10x;
	font-weight: normal;
	width: 200px;
}

.inputError{
	color: red;
	font-style:normal;
	font-size:10x;
	font-weight: normal;
	width: 150px;
	display: block;
    vertical-align: top;
    padding-left: 10px;
}

.icePnlGrdCol1{
	vertical-align: middle;
}

.icePnlGrdCol2{
	vertical-align: middle;
}

.textInTable{
	font-style:normal;
	font-size:12px;
	font-weight: normal;
	color: green;
	
}

.titlePage{
	color: black;
	width:100%;
	text-align: center;
	font-size:20px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	
}