<?xml version='1.0' encoding='utf-8'?>
<Server port="-1" shutdown="SHUTDOWN">
    <Service name="Catalina">
        
        <Connector URIEncoding="UTF-8" connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443"/>
        <Connector port="8009" protocol="AJP/1.3" redirectPort="8443" />
        
        <Engine name="Catalina" defaultHost="localhost">
        
            <Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">
            
            </Host>
            <!-- 
            <Realm appName="josso" 
            	className="org.josso.tc70.agent.jaas.CatalinaJAASRealm" 
            	debug="1" 
            	roleClassNames="org.josso.gateway.identity.service.BaseRoleImpl" 
            	userClassNames="org.josso.gateway.identity.service.BaseUserImpl"/>
            	 -->
        </Engine>
        
    </Service>
</Server>